.img-container {
    background-color: rgba(4, 76, 152, 0.959);
    opacity: 1;
    float: left;
    width: 50%;
    padding: 5px 5px 5px 5px;
    transition: transform .5s
}

.intro {
    font-size:90%;  
    font-family: Fantasy; 
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.img-container:hover {
     -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
     transform: scale(1.1, 1.1);
 }

 .paths {
    font-size:140%; 
    font-family:cursive; 
    color: white; 
    width: 100%;
 }

 .header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.title{
    color:rgb(150, 75, 0); 
    font-family:Fantasy; 
    font-size:305%
}

.header {
    color:white; 
    font-family:Fantasy; 
    font-size:175%
}

.path-text-top {
    font-size:150%;  
    font-family:Fantasy; 
    color: white;
}

.path-text-bottom{
    font-size:125%;  
    font-family:Cursive; 
    color: white;
}
.challenge-path1{
    color: white; 
    background-color: rgb(59, 11, 172);
}

.userInput-path1{
    background-color: rgb(103, 166, 238);
}

.answers-path1 button {
    background-color: #0dbeef; /* Green background */
    border: 1px solid rgb(0, 27, 162); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .answers-path1 button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .answers-path1:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .answers-path1 button:hover {
    background-color: #0a51b4;
  }

  .challenge-path2{
    color: white; 
    background-color: rgb(5, 72, 18);
  }

  .userInput-path2 {
    background-color: rgb(11, 125, 49);
  }

  .answers-path2 button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .answers-path2 button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .answers-path2:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .answers-path2 button:hover {
    background-color: #3e8e41;
  }
